//---------- Fonts
$font-primary: "Poppins", sans-serif;

//---------- Colors
$gray-9DA: #9da6a5;
$gray-76: #767e7e;
$gray-5D: #5d6564;
$text-heading: #0d1111;
$black-2F: #2f3a3b;
$bg-primary: #1ebfc1;
$bg-secondary: #e0f7f6;
