section.cta
  .container
    .cta-content
      .cta-info
        h3.heading.cta-heading Ready to Get Admit
        p.cta-caption Create your account and Boost your Career.
      a.button(href="#!") Get Started