section.testimonial
  .container
    .testimonial-content
      .testimonial-info
        img(src="./images/Union.svg", alt="Union")
        blockquote “They are the best people. And this is the suitable platform to learn from distance.”
        p Ben Foakes,
          span &nbsp;student.
        .testimonial-controls
          .btn-icon
            i.fa-solid.fa-chevron-left
          .btn-icon
            i.fa-solid.fa-chevron-right
      .testimonial-avatar
        img.testimonial-avatar-1(src="./images/testimonial/testimonial_1.svg", alt="avatar-1")
        img.testimonial-avatar-2(src="./images/testimonial/testimonial_2.svg", alt="avatar-2")
        img.testimonial-avatar-3(src="./images/testimonial/testimonial_3.svg", alt="avatar-3")
        img.testimonial-avatar-4(src="./images/testimonial/testimonial_4.svg", alt="avatar-4")
        img.testimonial-avatar-5(src="./images/testimonial/testimonial_5.svg", alt="avatar-5")
        img.testimonial-avatar-6(src="./images/testimonial/testimonial_6.svg", alt="avatar-6")

